<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>ServerMan</p>
    <form action = "/" method = "POST">  
        <p>Run.bat Route: <input type = "text" name = "bat" /></p>
        <p>PlayIt Route: <input type = "text" name = "playIt" /></p>
        <p>Start Time: <input type = "text" name = "startTime" /></p>
        <p>Stop Time: <input type = "text" name = "stopTime" /></p>
        <p><input type = "submit" name="action" value = "Start" /></p>
        <p><input type = "submit" name="action" value = "Stop" /></p>
        <p><input type = "submit" name="action" value = "Schedule Start" /></p>
        <p><input type = "submit" name="action" value = "Schedule Stop" /></p>
     </form>
</body>
</html>