<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
</head>
<body>
    <div class="container">
        <form action=""></form>
        <p>Server Man</p>
        <form action = "/" method = "POST">
            <input type="text" id="path" name="path" placeholder="Path to create server">
            <br>
            <label for="eula">Do you agree to the Minecraft Eula</label>
            <input type="checkbox" name="eula" id="eula" required>
            <p><input type = "submit" name="action" value = "Create Server" /></p>
         </form>
    </div>
</body>
</html>